@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-archivo);
}

h1 {
  @apply text-4xl font-extrabold dark:text-white;
}

h2 {
  @apply text-3xl font-bold dark:text-white;
}

h3 {
  @apply text-2xl font-bold dark:text-white;
}

h4 {
  @apply text-xl font-bold dark:text-white;
}

h5 {
  @apply text-lg font-bold dark:text-white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }

  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr {
    margin: 0 0 1rem 0;
  }

  .table td {
    border: bottom 1px solid #ddd;
    position: relative;
    padding-left: 40%;
    text-align: left;
  }

  .table td::before {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
  }

  .table td img {
    background-color: rgb(245 245 244);
    width: 50%;
  }
}

details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

details summary::after {
  content: "\2795"; /* Plus icon */
  color: black !important; /* Ensure the icon color is black */
  margin-right: 1rem;
  transition: 0.5s;
  font-size: 0.8rem;
}

details[open] summary::after {
  content: "\2796"; /* Minus icon */
  color: black !important; /* Ensure the icon color is black */
  margin-right: 1rem;
  transition: 0.5s;
  font-size: 0.8rem;
}

/* Prose */
.prose {
  @apply text-gray-800;
}

.prose a {
  @apply text-blue-600 hover:text-blue-700;
}

.prose h1 {
  @apply text-2xl font-bold mb-4;
}

.prose h2 {
  @apply text-xl font-bold mb-3;
}

.prose p {
  @apply mb-4;
}

.prose blockquote {
  @apply border-l-4 border-gray-200 pl-4 italic text-gray-600;
}

.prose ul {
  @apply list-disc pl-5 mb-4;
}

.prose ul > li {
  @apply mb-2;
}
